.refine-search {
    width: 50px;
    height: 50px;
    background: rgb(0, 0, 60);
    transform: translateX(-20px) translateY(-20px) rotate(90deg);
    transition: all 0.4s ease-in;
    
    &.visible {
        transform: translateX(280px) translateY(-20px)  rotate(90deg);
        
        @include mq('desktop') {
            transform: translateX(530px) translateY(-20px)  rotate(90deg);
        }
        
        .hamburger {
            background: #d2d2d2;
        }
    }
    
    .hamburger {
        display: block;
        color: #fff;
        cursor: pointer;
        font-size: 30px;
        text-align: center;
        line-height: 50px;
        height: 50px;
        
        &:hover {
            cursor: pointer;
        }
    }
}

.search-wrapper {
    position: absolute;
    left: 0;
    top: -1em;
    padding: 10px;
    overflow: hidden;
    color: #fff;
    background: rgba(10, 10, 10, 1);
    transition: all 0.4s ease-in;
    box-shadow: 0px 0px 10px #000;
    transform: translateX(-300px);
    width: 300px;
    
    @include mq('desktop') {
        transform: translateX(-550px);
        width: 550px;
    }
    
    &.visible {
        transform: translateX(0);
    }
    
    strong {
        clear: left;
        float: left;
        margin-bottom: 1em;
        width: 150px;
        text-align: right;
        padding-right: 10px;
    }
    
    input,
    select,
    textarea {
        color: white;
        background: rgba(0, 30, 50, 1);
        border: 1px solid rgba(250, 250, 250, 0.1);
        padding: 10px;
        margin-bottom: 5px;
    }
    
    select, input {
        float: left;
        max-width: 25%;

        + select {
            max-width: 10%;
            margin: 0 10px;
        }
    }
    
    select {
        border: none;
        font-size: 14px;
        height: 29px;
        padding: 5px;
        width: 268px;
        border-radius: 0px;
    }
    
    input[type=submit] {
        clear: left;
    }
    
    input[type=submit],
    input[type=reset] {
        width: 50%;
        max-width: 100%;
        padding: 10px;
        background: #fff;
        color: rgb(0, 0, 60);
        border-right: 1px solid rgb(0, 0, 60);
    }
    
    .full {
        width: 100%;
        max-width: 100%;
    }
    
    .half {
        width: 50%;
        max-width: 50%;
    }
    
    .onethird {
        width: 33%;
        max-width: 33%;
    }
    
    ::placeholder {
        color: #fff;
    }
}