a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: $darkGray;
    font-family: "Raleway";
    font-weight: bold;
    transition: all 0.1s ease-in;

    &:hover {
        color: white;
    }
}

.bestiary {
    a {
        text-decoration: underline;
        padding: 10px 0;
        
        &:hover {
            color: $darkGray;
            font-style: italic;
            background: rgba(40, 40, 40, 0.1);
        }
    }
    
    .lr td,
    .dr td {
        &:first-child {
            a {
                padding-left: 10px;
            }
        }
    }
    
    .lr {
        background: rgba(60, 60, 60, 0.05);
    }
}

.table-wrapper {
    overflow-x: scroll;
    
    table {
        table-layout: fixed;
    }
    
    thead {
        background: white;
        box-shadow: 0px 0px 5px #666;
    }
    
    td, th {
        overflow: hidden;
        border-right: 1px solid rgba(40, 40, 40, 0.1);
//        text-overflow: ellipsis;
        white-space: nowrap;
    }
    
    th {
        padding: 15px 0;
        white-space: normal;
        text-overflow:inherit;
    }
    
    tr:nth-child(even) {
        background: rgba(60, 60, 60, 0.1);
    }
    
    .short-name {
        text-align: center;
        display: none;
        
        @include mq('tablet-wide') {
            display: table-cell;
        }
    }
    
    td[align=center] {
        font-size: 2vw;
        
        @include mq('tablet-wide') {
            font-size: 16px;
        }
        
        &:last-child {
            display: none;
        }
    }
    
    a {
        display: block;
        width: 200px;
        
        &:hover {
            color: black;
            text-decoration: underline;
        }
    }
}

.expansion-list, 
.zone-list {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
    
    li {
        margin: 0;
        text-align: center;
        flex: 0 1 100%;
        
        @include mq('tablet-small') {
            flex: 0 1 50%;
        }
        
        @include mq('tablet-wide') {
            flex: 0 1 33.3%;
        }
        
        &:hover {
            background: $darkGray;
        }
    }
}